:root {
	/* Content Width */
	--width-large: 980px;

	/* Colours */
	--colour-primary: oklch(84.62% 0.0427 181.45);
	--colour-background: #ffffff;
	/* Darker than pure black for reduced eye strain */
	--colour-text-primary: #333333;
	--colour-text-secondary: #331910;

	/* Spacing */
	--spacing-small: 0.5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	--spacing-xl: 3rem;

	/* Shadows */
	--heading-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	--card-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
		rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

body {
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--colour-text-primary);
}

h1 {
	font-size: 3.25rem;
	text-wrap: nowrap;
	/* color: #D6B3B0; */
}

h2 {
}

h3 {
	font-size: 1.5rem;
}

ul {
	list-style-type: none;
}

address {
	font-style: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

/* Header */

.about-me-header {
	outline: solid red;
	background-image: url(/images/diagonal-bg.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.header-content-container {
	max-width: var(--width-large);
	padding: var(--spacing-xl);
	padding-top: 4rem;
	border: solid blue;
	margin-inline: auto;
	/* display: flex;
	justify-content: center; 
	align-items: center; 
	position: relative; */
}

.hero-container {
	position: absolute;
	right: 100%;
	top: 50%;
	transform: translateY(-50%);
	color: rgb(255, 255, 255);
	font-size: 1.5rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.name-overlay {
	position: absolute;
	bottom: 1%;
	left: 18%;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.header-image {
	max-width: 25rem;
	height: 100%;
}

.about-section {
	position: relative;
	width: 60%;
	margin-left: auto;
	padding: var(--spacing-large) var(--spacing-large);
	background-color: var(--colour-background);
	box-shadow: var(--heading-shadow);
	border-radius: 0 2px 2px 0;
}

.about-me-heading {
	padding-bottom: var(--spacing-medium);
}

.about-me-text {
	padding-bottom: var(--spacing-large);
}

/* Icons */

.icon-container {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-small);
	justify-content: flex-end;
}

.icon {
	width: 32px;
	height: auto;
	transition: transform 250ms ease-in-out;
}

.small {
	width: 22px;
}

.icon:hover {
	transform: scale(1.1);
}

.justify-start {
	justify-content: start;
}

/* Main content */

.main-container {
	max-width: var(--width-large);
	margin-inline: auto;
	border: solid palevioletred;
	padding: var(--spacing-xl);
	padding-bottom: var(--spacing-xl);
}

.main-content-heading {
	padding: var(--spacing-large) 0 var(--spacing-medium) 0;
}

/* Project Cards */

.project-card-container {
	display: grid;
	gap: var(--spacing-large);
	grid-template-columns: repeat(auto-fit, minmax(15.75rem, 1fr));
}

.card {
	max-width: 350px;
	box-shadow: var(--card-shadow);
	height: 100%;
	display: flex;
	flex-direction: column;
}

.project-image {
	max-width: 100%;
	aspect-ratio: 5/4;
	object-fit: cover;
	padding-bottom: var(--spacing-medium);
}

.project-card-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 var(--spacing-medium) var(--spacing-medium) var(--spacing-medium);
}

.project-text {
	padding: 0 var(--spacing-medium) var(--spacing-xl) var(--spacing-medium);
	flex-grow: 1; /* Allows cards to have equal height */
}

/* Footer */

.contact-footer {
	background-color: var(--colour-primary);
	color: var(--colour-text-secondary);
}

.footer-container {
	border: solid purple;
	max-width: var(--width-large);
	margin-inline: auto;
	padding: var(--spacing-large);
	display: grid;
	grid-template-columns: minmax(15rem, 1fr) minmax(0, 1.5fr);
	gap: var(--spacing-medium);
}

.contact-text-container {
	border: solid yellowgreen;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-medium);
}

.contact-heading {
	padding-bottom: var(--spacing-medium);
}

.footer-address {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-medium);
}

.contact-icon::before {
	content: "";
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin-right: var(--spacing-small);
	/* Using the mask property to change the colour of the svg */
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	background-color: var(--colour-text-secondary);
}

a[href^="tel"]::before {
	/* Using the mask property to change the colour of the svg */
	mask: url("/icons/phone.svg");
}

a[href^="mailto"]::before {
	mask: url(/icons/email-outline.svg);
}

.footer-image {
	/* min-width: 20rem; */
	aspect-ratio: 5/4;
	/* object-fit: cover; */
}

@media (width <= 920px) {
	.header-content-container {
		padding-top: 8rem;
	}

	.about-section {
		margin-inline: auto;
		width: 75%;
		padding-top: var(--spacing-xl);
		padding-bottom: var(--spacing-xl);
	}

	.about-me-heading {
		text-align: center;
	}

	.about-me-text {
		/* margin: 0 auto; */
		padding-bottom: var(--spacing-small);
	}

	.hero-container {
		position: static;
		/* right: 50%;
		top: 50%; */
		transform: translateY(0);
		float: left;
		margin-bottom: var(--spacing-small);
		margin-right: var(--spacing-medium);

		margin-top: -22%;
		margin-left: -25%;
		/* margin-right: var(--spacing-medium); */
	}

	.header-content-container {
	}

	.header-image {
		/* float: left; */
	}

	.name-overlay {
		position: absolute;
		bottom: 0;
		left: 62%;
		top: 3%;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	}

	.header-content-container .social-navigation {
		display: none;
	}
}
