:root {
	/* Content Width */
	--width-medium: 50rem;
	--width-large: 980px;

	/* Colours */
	--colour-primary: oklch(84.62% 0.0427 181.45);
	--colour-background: #ffffff;
	/* Darker than pure black for reduced eye strain */
	--colour-text-primary: #333333;
	--colour-text-secondary: #331910;

	/* Spacing */
	--spacing-small: 0.5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	--spacing-xl: 3rem;

	/* Font Sizing */
	--fs-xl: 3.25rem;
	--fs-large: 2.25rem;
	--fs-medium: 2rem;

	/* Shadows */
	--heading-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
		rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	--card-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
		rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

body {
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--colour-text-primary);
}

h1 {
	font-size: var(--fs-xl);
	text-wrap: nowrap;
}

h3 {
	font-size: var(--fs-medium);
}

ul {
	list-style-type: none;
}

address {
	font-style: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

/* Header */

.about-me-header {
	background-image: url(../images/diagonal-bg.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.header-content-container {
	max-width: var(--width-large);
	padding: var(--spacing-xl);
	margin-inline: auto;
}

.hero-container {
	position: absolute;
	right: 100%;
	top: 50%;
	transform: translateY(-50%);
	color: rgb(255, 255, 255);
	font-size: 1.5rem;
	box-shadow: var(--card-shadow);
}

.name-overlay {
	position: absolute;
	bottom: 1%;
	left: 18%;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.header-image {
	max-width: 40rem;
	height: 100%;
}

.about-section {
	position: relative;
	width: 60%;
	margin-left: auto;
	padding: var(--spacing-xl) var(--spacing-large);
	background-color: var(--colour-background);
	box-shadow: var(--heading-shadow);
	border-radius: 0 2px 2px 0;
}

.about-me-heading {
	padding-bottom: var(--spacing-medium);
	font-size: var(--fs-large);
}

.about-me-text {
	padding-bottom: var(--spacing-large);
}

/* Icons */

.icon-container {
	display: flex;
	flex-direction: row;
	gap: var(--spacing-small);
	justify-content: flex-end;
}

.icon {
	width: 32px;
	height: auto;
	transition: transform 250ms ease-in-out;
}

.small {
	width: 22px;
}

.icon:hover {
	transform: scale(1.1);
}

.justify-start {
	justify-content: start;
}

/* Main content */

.main-container {
	max-width: var(--width-large);
	margin-inline: auto;
	padding: var(--spacing-xl);
}

.main-content-heading {
	padding: var(--spacing-large) 0 var(--spacing-medium) 0;
}

.main-header {
	font-size: var(--fs-large);
}

/* Project Cards */

.project-card-container {
	display: grid;
	gap: var(--spacing-large);
	grid-template-columns: repeat(auto-fit, minmax(min(15em, 100%), 1fr));
}

.card {
	max-width: 400px;
	box-shadow: var(--card-shadow);
	height: 100%;
	display: flex;
	flex-direction: column;
}

.project-image {
	max-width: 100%;
	aspect-ratio: 5/4;
	object-fit: cover;
	padding-bottom: var(--spacing-medium);
}

.project-card-heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 var(--spacing-medium) var(--spacing-medium) var(--spacing-medium);
}

.project-text {
	padding: 0 var(--spacing-medium) var(--spacing-xl) var(--spacing-medium);
	flex-grow: 1; /* Allows cards to have equal height */
}

/* Footer */

.contact-footer {
	background-color: var(--colour-primary);
	color: var(--colour-text-secondary);
}

.footer-container {
	max-width: var(--width-large);
	margin-inline: auto;
	padding: var(--spacing-large);
	display: grid;
	grid-template-columns: minmax(15rem, 1fr) minmax(0, 1.5fr);
	gap: var(--spacing-medium);
}

.contact-text-container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-medium);
}

.contact-heading {
	padding-bottom: var(--spacing-medium);
	font-size: var(--fs-large);
}

.footer-address {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-medium);
}

.contact-icon::before {
	content: "";
	display: inline-block;
	width: 22px;
	height: 22px;
	vertical-align: middle;
	margin-right: var(--spacing-small);
	/* Using the mask property to change the colour of the svg */
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	background-color: var(--colour-text-secondary);
}

a[href^="tel"]::before {
	/* Using the mask property to change the colour of the svg */
	mask: url("/icons/phone.svg");
}

a[href^="mailto"]::before {
	mask: url(/icons/email-outline.svg);
}

@media (635px <= width <= 920px) {
	.header-content-container {
		padding-top: 6rem;
	}

	.about-section {
		margin-inline: auto;
		width: 100%;
		padding: var(--spacing-xl) var(--spacing-large);
	}

	.about-me-heading {
		text-align: center;
	}

	.about-me-text {
		margin-left: auto;
		padding-bottom: var(--spacing-small);
	}

	.hero-container {
		position: static;
		transform: translateY(0);
		float: left;
		margin-bottom: var(--spacing-medium);
		margin-right: var(--spacing-medium);
		/* To position outside the container */
		margin-top: -18%;
		margin-left: -10%;
	}

	.header-content-container {
		max-width: var(--width-medium);
	}

	.name-overlay {
		position: absolute;
		bottom: 0;
		left: 62%;
		top: 2%;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	}

	.header-content-container .social-navigation {
		display: none;
	}

	.main-container {
		max-width: var(--width-medium);
		padding: 0 var(--spacing-xl) var(--spacing-xl) var(--spacing-xl);
	}

	.footer-container {
		max-width: var(--width-medium);
	}

	.footer-image {
		width: 100%;
		aspect-ratio: 4/5;
	}
}

@media (635px >= width) {
	:root {
		--fs-large: 1.8rem;
	}

	.header-content-container {
		padding: 0;
	}

	.about-section {
		width: 100%;
		padding: var(--spacing-large);
		background-color: transparent;
		box-shadow: none;
	}

	.hero-container {
		position: static;
		transform: translateY(0);
		margin-bottom: var(--spacing-large);
	}

	.header-image {
		width: 100%;
	}

	.name-overlay {
		bottom: 0;
		top: 90%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		text-wrap: nowrap;
	}

	.about-me-text-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: var(--colour-background);
		padding: var(--spacing-large);
		box-shadow: var(--heading-shadow);
	}

	.icon-container {
		justify-content: center;
	}

	.main-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: var(--spacing-large);
	}

	.main-content-heading {
		padding: var(--spacing-medium);
	}

	.card {
		max-width: 100%;
	}

	.footer-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}

	.footer-image {
		width: 100%;
	}

	.contact-heading {
		text-align: center;
	}
}
